.glass-button-container {
    text-align: center;
}

.glass-button {
    /* border: 0; */
    border: 2px solid #994343;
    padding: 13px 34px;
    background-color: transparent;
    border-radius: 30px;

    font-size: medium;

    box-shadow: 
        inset -2px -2px 10px rgba(255, 255, 255, .2),
        inset 2px 2px 10px rgba(0, 0, 0, .5);

    transition: all .2s ease-in-out;
}

.glass-button:hover {
    cursor: pointer;
    box-shadow: 
        inset -1px -1px 10px rgba(255, 255, 255, .2),
        inset 1px 1px 10px rgba(0, 0, 0, .5),
        2px 2px 3px rgb(0, 0, 0, .2);
}