.switch-body {
    padding: 10px 0;
    display: flex;
    font-size: small;
    align-items: center;
}

.switch-container {
    position: relative;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 
        inset -8px -8px 16px #8f4444,
        inset 8px 8px 16px #5c2b2b;
    margin-right: 10px;
}

/* Hides checkbox html element */
.toggle-checkbox {
    display: none;
}

/* Interactive area */
.switch {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 90%;
    transform: translateY(-50%);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

/* Toggle button */
.toggle {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(145deg, #979797, #ffffff);
    border-radius: 50px;
    left: 0;
    box-shadow: 
        -2px -2px 4px #8f4444,
        2px 2px 4px #5c2b2b;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.led {
    position: absolute;
    right: 8px;
    width: 5px;
    height: 5px;
    background: gray;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;
}

.toggle-checkbox:checked + .switch .toggle {
    left: 50%;
    background: linear-gradient(145deg, #ffffff, #979797);
}

.toggle-checkbox:checked + .switch .led {
    background-color: green;
    box-shadow: 0 0 5px .2px green;
}

.switch:hover .toggle {
    box-shadow: 
        -2px -2px 4px #8f4444,
        2px 2px 4px #5c2b2b;
}