.ledCheckboxContainer > input{
    display: none;
}

.ledCheckboxContainer {
    position: relative;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 
        inset -2px -2px 8px white, 
        inset 2px 2px 8px rgba(0, 0, 0, .5);
}

#switchCheckboxLabel {
    cursor: pointer;
}

.movingLedContainer {
    width: 50%;
    height: 90%;
    border-radius: 50px;
    background: rgb(224, 224, 224);
    box-shadow: 
        1px 1px 3px rgba(0, 0, 0, .3),
        -1px -1px 2px rgba(255, 255, 255, .5),
        inset 1px 1px 8px white,
        inset -1px -1px 8px rgba(0, 0, 0, .5);

    margin: 2px;
    
    position: relative;
    left: 0;

    transition: .5s;

    display: flex;
    align-items: center;
    padding: 0 8px;
}

.movingLed {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgray;
    box-shadow: none;
    transition: .5s;
}

#switchCheckbox:checked + 
    #switchCheckboxLabel .movingLedContainer {
    left: 47%;
}

#switchCheckbox:checked +
    #switchCheckboxLabel .movingLed {
        background-color: yellow;
        box-shadow: 0 0 5px 2px yellow;
    }