.body {
  position: relative;
  transition: 0.3s;
}

.body:hover {
  padding: 60px;
  border-radius: 50%;
}

.body:hover .item:not(:first-child) {
  --distance: 50px;
  scale: 1;
  transform: translate(
      calc(var(--distance) * cos(var(--angle))),
      calc(var(--distance) * sin(var(--angle)))
    )
    translateY(-50%);

  box-shadow: var(--option-shadow);
}

.item {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  position: absolute;
  top: 0;
  background-color: var(--backgroundColor);
  scale: 0;

  --transition-opts: 0.3s var(--delay);
  transition: transform var(--transition-opts), scale var(--transition-opts),
    box-shadow var(--transition-opts);

  top: 50%;
  transform: translateY(-50%);
}

.item:hover:not(:first-child) {
  --iconColor: white;
  background-color: var(--iconBgColor);
  color: var(--iconColor);
}

#center {
  position: relative;
  z-index: 1;
  scale: 1;
  box-shadow: var(--option-shadow);
}
