.led-checkbox-container > input{
    display: none;
}

.led-checkbox-container {
    position: relative;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 
        inset -2px -2px 8px rgba(255,255,255, 1), 
        inset 2px 2px 8px rgba(0, 0, 0, .5);
}

#switch-checkbox-label {
    cursor: pointer;
}

.moving-led-container {
    width: 50%;
    height: 90%;
    border-radius: 50px;
    background: rgb(224, 224, 224);
    box-shadow: 
        1px 1px 3px rgba(0, 0, 0, .3),
        -1px -1px 2px rgba(255, 255, 255, .5),
        inset 3px 3px 8px 3px rgba(255, 255, 255, 1),
        inset -1px -1px 8px rgba(0, 0, 0, .5);

    margin: 2px;
    
    position: relative;
    left: 0;

    transition: .5s;

    display: flex;
    align-items: center;
    padding: 0 8px;
}

.moving-led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgray;
    box-shadow: none;
    transition: .5s;
}

#switch-checkbox:checked + 
    #switch-checkbox-label .moving-led-container {
    left: 47%;
}

#switch-checkbox:checked +
    #switch-checkbox-label .moving-led {
        background-color: yellow;
        box-shadow: 0 0 5px 2px yellow;
    }