.body {
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    color: black;
    padding-top: 50px;
}

.body h1 {
    text-align: center;
}

.component-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}

.component-container > * {
    -webkit-user-select: none;
    user-select: none;
}