.body {
    padding-top: 50px;
    min-height: 100%;
}

.body h1 {
    text-align: center;
}

.componentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}

.componentContainer > * {
    -webkit-user-select: none;
    user-select: none;
}