.body {
  padding-top: 50px;
  min-height: 100%;
}

.body h1 {
  text-align: center;
}

.componentContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.componentContainer > * {
  -webkit-user-select: none;
  user-select: none;
}
